@model MedicalProject.Models.SubCategory

@{
    ViewBag.Title = "SubCategoryInsert";
}
@{
    Html.RenderPartial("_SideLayout");
}
<div class="container">
    <div class="content-container">



        <div class="container-fluid">
            <h2></h2>

            @using (Html.BeginForm())
            {
                <div class="container-fluid" style="padding-left:0px; margin-top:80px; margin-left:00px;">
                    <div class="row-fluid">
                        <div class="center-block roundedDiv col-lg-offset-3" style="width:400px; height:250px;">
                            <div style="max-width: 500px;">
                                <h2 class="form-signin-heading">

                                    SubCategory
                                </h2>
                                <div class="table" table-layout:auto style="border-block-style:solid">

                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">

                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)(ViewBag.subcatlog), " Select Category ", new { @class = "form-control chosen-search" })
                                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@

                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.UpdateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.UpdateDate, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.UpdateDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@

                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.IsAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.IsAvailable, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.IsAvailable, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Create" class="btn btn-success" />
                                            </div>
                                        </div>
                                    </div>


                                </div>


                                <div>
                                    @Html.ActionLink("Back to List", "SubCategoryView")
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>
<style>
    .content-container {
        padding-top: 20px;
    }

    .content-container {
        padding-left: 220px;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


