@model System.Data.DataTable
@{
    ViewBag.Title = "ProductView";
}
@{
    Html.RenderPartial("_SideLayout");
}
<div class="container">
    <div class="content-container">



        <div class="container-fluid">


            <h2 style="text-align:center">List Of Product</h2>



            @using (Html.BeginForm("ProductView", "Product", FormMethod.Post))
            {
                <div class="form-group">
                    <div style="margin-top:-10px; margin-left:650px;">
                        <input type="submit" value="Delete All" class="btn btn-danger" onclick="return confirm('Are you sure?')" />
                        <input type="button" value="Add Product" class="btn btn-success" onclick="location.href='@Url.Action("ProductInsert","Product")'" />
                    </div>


                </div>
               

                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Select</th>
                        <th> Name</th>
                        <th> Company</th>
                        <th>Category Name</th>
                        <th> ProductImage</th>
                        <th> Expiry Date</th>
                        <th>Quantity</th>
                        <th> Purchase Price(₹)</th>
                        <th> Selling Price(₹)</th>
                       






                    </tr>
                    @for (int i = 0; i < Model.Rows.Count; i++)
                    {
                <tr>

                    <td><input type="checkbox" name="checks" id="checks" value="@Model.Rows[i][0]" /></td>

                    @*<td>@Model.Rows[i][0]</td>*@
                    <td>@Model.Rows[i][1]</td>
                    <td>@Model.Rows[i][2]</td>
                    <td>@Model.Rows[i][3]</td>

                    <td><img src="@Url.Content(Model.Rows[i][7].ToString())" height="50" width="50" /> </td>


                    <td>@Model.Rows[i][8]</td>
                    <td>@Model.Rows[i][4]</td>
                    <td>@Model.Rows[i][5]</td>
                    <td>@Model.Rows[i][6]</td>


                    <td>

                        <a href="@Url.Action("ProductUpdate","Product", new {@id=Model.Rows[i][0]})" class="btn btn-sm btn-warning" onclick="return confirm ('Are you sure want to Update blog?');">
                            <i class="glyphicon glyphicon-remove"></i> Update
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("ProductDelete","Product", new {@id=Model.Rows[i][0]})" class="btn btn-sm btn-danger" onclick="return confirm ('Are you sure want to delete blog?');">
                            <i class="glyphicon glyphicon-remove"></i> Delete
                        </a>
                    </td>





                </tr>
                    }



                </table>

            }
            @*<p><a href="@Url.Action("ProductInsert","Product")">Add Product</a></p>*@


        </div>


    </div>
</div>
<style>
    .content-container {
        padding-top: 20px;
    }

    .content-container {
        padding-left: 220px;
    }
</style>